@page
@model PushPop.Pages.Fila

@{
    ViewData["Title"] = "Fila";
}
<div class="text-center">
    <h1 class="display-4">Visualizador de Fila</h1>
    <p>Uma aplicação para conseguir visualizar o funcionamento de uma Fila</p>
    
    <br/>
    <div class="container text-center">
      <div class="row align-items-start">
          <div class="col">
              <p> FRENTE DA FILA </p>
              <ul class="list-group mb-1">
                  @{
                      int pos = 0;
                  }
                  @foreach (var element in @Model.modelQueue.ReturnQueue())
                  {
                      if (pos == 0)
                      {
                          <li class="list-group-item active">@element</li>
                      }
                      else
                      {
                          <li class="list-group-item">@element</li>
                      }
                      pos++;
                  }
              </ul>
              <p> FIM DA FILA </p>
          </div>
        <div class="col">
            <h1 class="display-5 align-items-start">Controles da Fila</h1>
            <br/>

            <div class="row align-items-start">
                <div class="col">
                    <div class="input-group mb-3">
                        <form method="post" class="row g-3 border" >
                            <div class="col-md">
                                <label class="form-label"></label>
                                <input type="text" class="form-control" name="enqueueValue" placeholder="Valor a ser inserido">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" asp-page-handler="Enqueue">Enqueue Valor</button>
                                <button type="submit" class="btn btn-danger" asp-page-handler="Dequeue">Dequeue Valor</button>
                            </div>
                            <br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>